//- extends layout

//- block content
//-     include nav

//-     h2.center deelip kumar - Love
//-     <audio class="center" controls>
//-         <source src="/media/deelipKumar-Love.mp3" type="audio/mpeg">
//-     </audio>
//-     br
//-     h2.center=pageModel.title
//-     <video class="center" width="400" controls="controls">
//-         <source src=#{pageModel.filePath} type="video/ogg">
//-     </video>
//-     br
//-     include footer


extends layout

block content
	include nav
	#media.container
		
			.col-md-9
				.content
					.mediaHeader
						.title=pageModel.title
						.artist.rightHeader by #{pageModel.artist}
						span.rightHeader |
						.publisher.rightHeader=pageModel.publisher
					-var fileType = pageModel.fileType
					if fileType === "Video"
						<video class="videoImage" width="400" controls="controls">
							<source src=#{pageModel.filePath} type="video/ogg">
						</video>
					else
						.imageHeaderContainer
							-var imagePath = (typeof pageModel.filePathCover !== 'undefined' && pageModel.filePathCover !== "") ? pageModel.filePathCover : "/images/default_media_playback_bg.png"
							img.img-responsive.mediaImage(src=imagePath)
						<audio style="width: 100%;" controls>
							<source src=#{pageModel.filePath} type="audio/mpeg">
						</audio>
					.mediaInfo
						.views #{pageModel.views} views
						.datePosted July 17, 2016
					- if(pageModel.additionalFile !== "" && typeof pageModel.additionalFile !== 'undefined')
						a.additionalFile(href=pageModel.additionalFile) View Additional File
					.description
						#accordion.panel-group(role="tablist" aria-multiselectable="true")
							.panel.panel-default
								.panel-heading(role="tab" id="headingOne")
									h4.panel-title
										a(role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Description
								#collapseOne.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="headingOne")
									.panel-body=pageModel.description
							.panel.panel-default
								.panel-heading(role="tab" id="headingTwo")
									h4.panel-title
										a(role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Tags
								#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
									.panel-body
										table
											tr
												td
													p Artist: <span>#{pageModel.artist}</span>
												td
													p Album: <span>#{pageModel.album}</span>
												td
													p Upload Date:
												td
													p Released:
											tr
												td
													p Region:
												td
													p Language: <span>#{pageModel.lng}</span>
												td
													p People Group: <span>#{pageModel.peopleGroup}</span>
												td
													p Art Form: <span>#{pageModel.contentType}</span>
											tr
												td
													p Producer:
												td
													p Genre:
												td
													p Category:
												td
													p License:


							.panel.panel-default
								.panel-heading(role="tab" id="headingThree")
									h4.panel-title
										a(role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Comments
								#collapseThree.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingThree")
									.panel-body
			.col-md-3.col-sm-3.col-xs-1
				.relatedContent
					.row
						.relatedSection
							p.moreFromArtist More From Artist
							-for(var i = 0; i < moreFromArtist.length; i++)
								-var imagePath = (typeof moreFromArtist[i].filePathCover !== 'undefined' && moreFromArtist[i].filePathCover !== "") ? moreFromArtist[i].filePathCover : "/images/default_media_playback_bg.png"
								a.relatedItem(href=moreFromArtist[i].route)
									.imageContainer
										img.relatedImage(src=imagePath)
									.itemInfo
										-var title = (moreFromArtist[i].title.length > 30) ? moreFromArtist[i].title.substr(0,30) + "..." : moreFromArtist[i].title
										p.relatedTitle=title
										p.relatedArtist=moreFromArtist[i].artist
					.row
						.relatedSection
							p.moreFromAlbum More From Album
							-for(var i = 0; i < moreFromAlbum.length; i++)
								-var imagePath = (typeof moreFromAlbum[i].filePathCover !== 'undefined' && moreFromAlbum[i].filePathCover !== "") ? moreFromAlbum[i].filePathCover : "/images/default_media_playback_bg.png"
								a.relatedItem(href=moreFromAlbum[i].route)
									.imageContainer
										img.relatedImage(src=imagePath)
									.itemInfo
										-var title = (moreFromAlbum[i].title.length > 30) ? moreFromAlbum[i].title.substr(0,30) + "..." : moreFromAlbum[i].title
										p.relatedTitle=title
										p.relatedArtist=moreFromAlbum[i].artist

					.row
						.relatedSection
							p.moreFromAlbum Related
							-for(var i = 0; i < relatedContent.length; i++)
								-var imagePath = (typeof relatedContent[i].filePathCover !== 'undefined' && relatedContent[i].filePathCover !== "") ? relatedContent[i].filePathCover : "/images/default_media_playback_bg.png"
								a.relatedItem(href=relatedContent[i].route)
									.imageContainer
										img.relatedImage(src=imagePath)
									.itemInfo
										-var title = (relatedContent[i].title.length > 30) ? relatedContent[i].title.substr(0,30) + "..." : relatedContent[i].title
										p.relatedTitle=title
										p.relatedArtist=relatedContent[i].artist
	include footer
	
