extends layout

block content
	include nav
	.title=pageModel.title
	img.songBox(src="http://thevillagechurch.net/mediafiles/uploaded/m/0e3350345_1408459731_mission-worship-spanning.jpg")
	<audio style="width: 700px; margin-left: 50px; margin-bottom:20px" controls>
		<source src=#{pageModel.filePath} type="audio/mpeg">
	</audio>
	#views #{pageModel.views} views
	#datePosted July 17, 2016
	.infoBox
		.descriptionTitle Description
		.descriptionBox
			.descriptionText=pageModel.description
		.tagTitle Tag
		.tagBox
			.tags
				.artist Artist: #{pageModel.artist}
				.region Region: 
				.producer Producer: 
				.album Album: #{pageModel.album}
				.language Language: #{pageModel.language}
				.genre Genre: #{pageModel.genre}
				.uploadDate Upload Date: 06/17/2016
				.peopleGroup People Group: #{pageModel.peopleGroup}
				.category Category: Music
				.releaseDate Released: 06/17/2016
				.artForm Art Form: #{pageModel.contentType}
				.license License: Creative Commons
				.miscellaneous Miscellaneous: Ancient Hebrew, Tribal Worship, Moses, Aaron, Ramses, Smoke, Fire, Pillar, Red Sea, Biblical, Palestine Israel Hebrew, Hebrews, Good Music
	include footer
	.relatedContent
		.moreFromArtist More From Artist
			.container
				.relatedThumbnail(style="margin-top:20px !important;")
				.songTitle 40 Years
				.songArtist Moses and Aaron
				.relatedThumbnail
				.songTitle Milk and Honey
				.songArtist Moses and Aaron
				.relatedThumbnail
				.songTitle Mount Sinai
				.songArtist Moses and Aaron
		.related Related
			.container
				.relatedThumbnail(style="margin-top:20px !important;")
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
