extends layout

block content
	include nav
	.container-fluid.index(style="padding:0")
		//- .columnContainer
		include widgets/leftColumnWidget
		.col-md-7#search
			p.resultsHeader Results
			-for(var i = 0; i < results.length; i++)
				a.searchItem(href=results[i].route)
					img.itemImage(src="http://thevillagechurch.net/mediafiles/uploaded/m/0e3350345_1408459731_mission-worship-spanning.jpg")
					.itemInfo
						-var title = (results[i].title.length > 30) ? results[i].title.substr(0,30) + "..." : results[i].title
						p.title=title
						span
						p.artist
							| #{results[i].artist} | 
							span
							| #{results[i].publisher}
						.viewRow
							p.published Oct 21, 2016
							p.views #{results[i].views} views
						p.contentType=results[i].contentType
	include footer