extends layout



block content
	include nav
	#uploadContainer.container
		.row.uploadNav
			.uploadStatusBlock Upload Main File
			.uploadStatusBlock Album Cover
			.uploadStatusBlock Additional File
			.uploadStatusBlock.activePage Main File Information
			.uploadStatusBlock.success Finished
		.row
			.container
				form(id="bucket-form" action='/albumImg', method="post" enctype="multipart/form-data")
					.col-xl-2.col-lg-3.col-md-4.col-sm-12
						.outerBox.upload3
							if filePathCover
								img(src=filePathCover)
							else
								img(src="images/musicNote.PNG")
						//- .col-xl-12.col-lg-12.col-md-12.col-sm-12#uploadCover
						//- 	input.inputField(type="file" name="fileLocation" for="fileLocation")
						//- 	//- .inputItem.temp
						//- 	//- 	input.fileSubmit.btn.innerBox(type="submit" value="Upload")
				form(id="content-form" action="/uploadContent", method="post" enctype="multipart/form-data")
					.col-xl-10.col-lg-9
						h3 What is this?
							span.red (*Required Field)
					.col-xl-5.col-lg-4.col-md-4.col-sm-12
						.inputItem.hidden
							input.inputField(type='text' name='filePath' value=filePath)
						.inputItem.hidden
							input.inputField(type='text' name='filePathCover' value=filePathCover)
						.inputItem.hidden
							input.inputField(type='text' name='additionalFile' value=additionalFile)
						.inputItem
							label File Type
							select.inputField(for="fileType" name="fileType")
								option(value="") - Please Select One -
								option(value="Song") Song
								option(value="Video") Video
								option(value="Poem") Poem
						.inputItem
							label Content Type
							select.inputField(for="contentType" name="contentType")
								option(value="") - Please Select One -
								option(value="Drama") Drama
								option(value="Visual Arts") Visual Arts
								option(value="Dance") Dance
								option(value="Music") Music
								option(value="Film") Film
								option(value="Poetry") Poetry
								option(value="Other") Other
						.inputItem
							label Language
							select.inputField(for="language" name="lng")
								option(value="") - Please Select One -
								each language in languages
									option(value=language.language) #{language.language}
								//- This will eventually be grabbed from a database
						.inputItem
							label People Group
							input.inputField(type='text' name="peopleGroup" for="peopleGroup")
						.inputItem
							label Country
							select.inputField(for="country" name="country")
								each country in countries
									option(value=country.alpha2) #{country.name}
						.inputItem
							label License
								span.red *
							select.inputField(for="license" name="license")
								option(value="") - Please Select One -
								option(value="license1") license 1
								option(value="license2") license 2
								option(value="license3") license 3
								//- This will eventually be grabbed from a database
							span &nbsp; &nbsp;
								span.glyphicon.glyphicon-question-sign
					.col-xl-4.col-lg-4.col-md-4.col-sm-12
						.inputItem
							label Title
								span.red *
							input.inputField(type='text' name="title" for="title")
						.inputItem
							label Album
							input.inputField(type='text' name="album" for="album")
						.inputItem
							label Artist
							input.inputField(type='text' name="artist" for="artist")
						.inputItem
							label Publisher
							input.inputField(type='text' name="publisher" for="publisher")
						.inputItem
							label Genre
							input.inputField(type='text' name="genre" for="genre")
					.col-xl-12.col-lg-12.col-md-12.col-sm-12
						.inputItem
							label Description
							textarea.inputField(name="description" for="description")
						.inputItem
							label Lyrics
							textarea.inputField(name="lyrics" for="lyrics")
						.inputItem
							label Remain Anonymous?
							input.inputField(type='checkbox' name="anonymous")

						input.btn.btn-success.submitButton(type='submit' value='Submit')
		.row
			.container
				.col-xl-12.col-lg-12.col-md-12.colsm-12#helpImg
					img(src="images/concert.jpg")
					.overlay
						p#sentOne For tips, read up with the <a href="#">GLOW upload guide </a>.
						p#sentTwo Know which license to use? Read about the different <a href="#">licenses</a>.
						p#sentThree Find out what content is allowed <a href="#">here</a>.

	#successContainer.hidden
		h2 Upload Complete
	div.modal.fade#pleaseWaitDialog(data-backdrop="static",data-keyboard="false")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h1 Processing...
				div.modal-body
					div.progress
						div.progress-bar.progress-bar-striped.active(role="progressbar",aria-valuenow="100",aria-valuemin="0",aria-valuemax="100",style="width: 100%")
							span.sr-only 100% Complete

	include footer

	script.
		